<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743093099881-hd1f6qe9q3u9qtkik423teavtsl9pkk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743093099881-hd1f6qe9q3u9qtkik423teavtsl9pkk6</string>
	<key>API_KEY</key>
	<string>AIzaSyAohrmPxAWDM6BAODsnv8zah4mK_YX8BC8</string>
	<key>GCM_SENDER_ID</key>
	<string>743093099881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umgcambodia.nenamProd</string>
	<key>PROJECT_ID</key>
	<string>umgc-aio</string>
	<key>STORAGE_BUCKET</key>
	<string>umgc-aio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743093099881:ios:c587677a137282dbea31f8</string>
	<key>DATABASE_URL</key>
	<string>https://umgc-aio-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>